.mapcard {
  display: flex;
    align-items: center;
    justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  gap: 50px;
    margin-bottom: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sorting {
    position: relative;
    display: inline-block;
}

.top {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.dropBtn {
    background-color: seagreen;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent label:hover {
    background-color: #ddd;
}

.sorting:hover .dropdownContent {display: block;}

.sorting:hover .dropBtn {background-color: #3e8e41;}

.headTitle {
    font-size: 50px;
}
