.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
    height: 100px;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.navlink {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.favBtn {
    font-size: 35px;
    background-color: seagreen;
    border: none;
    color: white;
}
