.recipeImg{
  width:600px;
  height:400px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.recipeCard{
  display: flex;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 15px black;
}

.cardBody{
  padding: 30px;
}

.recipeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.cardBody{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 50px;
}

.ingredients{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
}

.recipe {
  max-height: 110px;
  overflow-y: auto;
}
